.page {
  cursor: auto;
  display: none;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 20px;
  width: 70%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.page.active {
  display: block;
}
.page h2 {
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}
.page div,
.page ul {
  margin-bottom: 20px;
}
.page button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
.page button:hover {
  background-color: #0056b3;
}
.page input[type="text"],
.page input[type="file"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
}
.page label {
  display: block;
  margin-bottom: 10px;
}

#Main_Box {
  width: 80%;
  height: auto;
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 40%;
}
html.a-fullscreen body {
  height: 100%;
  margin: 0;
  overflow: auto;
  padding: 0;
  width: 100%;
}
html.a-fullscreen {
  overflow: auto;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
#body {
  height: 100vh; /* 화면 높이를 100%로 설정 */
}

#Chat_Box,
#Subscribe_Box,
#Setting_Box {
  text-align: center;
  font-size: 40px;
  color: #a0a0a0;
  width: 40%;
  height: 40%;
  border: 1px solid black;
  position: absolute;
  opacity: 1;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  display: flex;
  justify-content: center;
  align-items: center; /* 세로 방향 중앙 정렬 */
  z-index: 1000;
  overflow: hidden;
}

#Chat_Box {
  background-color: orange;
  animation: backInLeft 1s;
  top: 0%;
  left: 0%;
}
.speech-balloon {
  position: relative;
  width: 50%;
  height: 30%;
  background-color: #3498db;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s; /* transition 속성 추가 */
}

#Chatbox_text {
  position: absolute;
  top: 45%;
  right: 45%;
  opacity: 1;
  visibility: visible;
}

#Chat_Box:hover #speech-balloon-1 {
  clip-path: polygon(100% 0, 100% 61%, 35% 61%, 0 100%, 20% 61%, 0% 60%, 0 0);
  top: 5%;
  opacity: 1;
  visibility: visible;
  animation: fadeIn 1s forwards;
}

#Chat_Box:hover #speech-balloon-2 {
  clip-path: polygon(100% 0, 100% 61%, 80% 61%, 100% 100%, 65% 61%, 0% 60%, 0 0);
  top: 15%;
  opacity: 1;
  visibility: visible;
  animation: fadeIn 1.2s forwards;
}

#Chat_Box:hover #Chatbox_text {
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.5s; /* 원하는 딜레이 시간으로 조정 */
  transition: opacity 1s, visibility 1s;
}
#Subscribe_Box {
  background: radial-gradient(
    rgb(255, 254, 234) 0%,
    rgb(255, 254, 234) 35%,
    #b7e8eb 100%
  );
  top: 0%;
  left: 40%;
  text-align: center;
  font-size: 40px;
  color: #a0a0a0;
  border: 1px solid black;
  animation: backInLeft 1.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
#Subscribe_Box .text {
  transition: transform 0.3s ease-in-out;
}
#Subscribe_Box .icons {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: blue;
  opacity: 0;
}
#Subscribe_Box .outline,
#Subscribe_Box .checkbox {
  position: absolute;
  opacity: 0;
}
#Subscribe_Box:hover .text {
  transform: translateX(-20px);
}
#Subscribe_Box:hover .icons {
  opacity: 1;
}
#Subscribe_Box:hover .outline {
  animation: bounceInDown 2s forwards;
  animation-fill-mode: both;
  opacity: 1;
}
#Subscribe_Box:hover .checkbox {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 2s;
}

#Setting_Box {
  background-color: #4b371c;
  animation: backInLeft 1.4s;
  top: 40%;
  left: 0%;
  overflow: hidden;
}

/* 친구 추가 섹션 */
#newFriendName {
  padding: 10px;
  border-radius: 18px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

#addFriendButton {
  padding: 10px 15px;
  background-color: #1877f2;
  color: #fff;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

/* 알림 섹션 */
#notificationSection {
  margin: 20px 0;
  position: relative;
}

#notificationIcon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

#notificationList {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 250px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#notificationList li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#notificationList li:last-child {
  border-bottom: none;
}

/* 친구 목록 */
#friendList {
  list-style-type: none;
  padding: 0;
}

#friendList li {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 8px;
}

#friendList img {
  border-radius: 50%;
  margin-right: 10px;
}

.deleteFriendButton, .chatFriendButton {
  margin-left: auto;
  padding: 5px 10px;
  border: none;
  border-radius: 18px;
  cursor: pointer;
}

.deleteFriendButton {
  background-color: #e74c3c;
  color: #fff;
}

.chatFriendButton {
  background-color: #1877f2;
  color: #fff;
  margin-left: 5px;
}
#chatwindow {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  max-height: 400px;
  overflow-y: auto;
  margin: 20px 0;
  z-index: 1001;
}
#chatMessages p {
  border-radius: 10px; /* 원하는 값으로 변경 가능 */
  word-wrap: break-word;
  max-width: 85%;
  background-color: #ccc;
}


.background-image {
  cursor: default; /* 또는 필요한 다른 값 */
  background-image: url("/static/lobby/img/Nightsky.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  z-index: 1;
}

#profileSection {
  background-color: aliceblue;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}
#profileSection #profileImage {
  border-radius: 50%;
  margin-right: 10px;
}
#profileUpdateForm input {
  display: block;
  margin-bottom: 10px;
}
#profileSection #username {
  color: #a0a0a0;
  margin-right: 10px;
}



#subscriptionList li {
  width: 20%;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#subscriptionList li.not-purchased {
  background-color: orange;
}
#subscriptionList li.purchased {
  background-color: purple;
}
#subscriptionList li.applied {
  background-color: lime;
}
#subscriptionList li button {
  margin-left: 10px;
}

#meteorSection {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
#meteorSection span {
  position: absolute;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 20px rgba(255, 255, 255, 0.1);
  animation-name: animate;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#meteorSection span::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes animate {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-2500px);
    opacity: 0;
  }
}
#meteor1 {
  animation-delay: 0s;
  animation-duration: 1s;
}

#meteor2 {
  top: 0;
  right: 80px;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

#meteor3 {
  top: 80px;
  right: 0;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

#meteor4 {
  top: 0;
  right: 180px;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

#meteor5 {
  top: 0;
  right: 400px;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

#meteor6 {
  top: 0;
  right: 500px;
  animation-delay: 1s;
  animation-duration: 3s;
}

#meteor7 {
  top: 300px;
  right: 0;
  animation-delay: 1.2s;
  animation-duration: 1.75s;
}

#meteor8 {
  top: 0;
  right: 700px;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

#meteor9 {
  top: 0;
  right: 1000px;
  animation-delay: 0.75s;
  animation-duration: 2.25s;
}

#meteor10 {
  top: 0;
  right: 450px;
  animation-delay: 2.75s;
  animation-duration: 2.75s;
}

#inner_heading-canvas {
  position: absolute; /* 캔버스를 absolute로 설정 */
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#inner_heading-canvas:hover {
  opacity: 1;
}
.a-canvas.a-grab-cursor {
  cursor: default !important;
  z-index: -1000;
}
#profileSection {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}
#profileSection #profileImage {
  border-radius: 50%;
  margin-right: 10px;
}
#profileSection #username {
  color: #a0a0a0;
  margin-right: 10px;
}
