{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- UTF-8 인코딩 설정 -->
    <script src="https://aframe.io/releases/1.4.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.misc.min.js"></script>
    <script src="https://unpkg.com/aframe-physics-extras@0.1.2/dist/aframe-physics-extras.min.js"></script>
    <script src="https://unpkg.com/super-hands@^3.0.3/dist/super-hands.min.js"></script>
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}" />
  </head>
  <body>
    <a-scene physics="debug: true" light="defaultLightsEnabled:false">
      <a-light type="ambient" color="#888"></a-light>
      <a-light
        type="directional"
        color="#FFF"
        intensity="1"
        position="2 4 -3"
      ></a-light>
      <a-entity
        id="rightHand"
        laser-controls="hand: right"
        raycaster="objects: .clickable; showLine: true"
      ></a-entity>
      <a-camera
        ><a-entity
          id="hideUIButton"
          geometry="primitive: circle; radius: 0.1"
          material="color: red"
          position="-0.15 0.15 -0.15"
          class="clickable"
        ></a-entity>
      </a-camera>
      <a-entity
        id="leftHand"
        hand-controls="hand: left; handModelStyle: lowPoly"
        super-hands=""
      ></a-entity>
      <a-entity
        id="ui"
        geometry="primitive: plane; width: 0.7; height: 1"
        material="opacity: 0.5; transparent: true; color: white"
        position="0.2 0.1 -0.5"
        visible="false"
        grabbable
      >
        <a-entity
          id="chatbutton"
          geometry="primitive: circle; radius: 0.05"
          material="color: white"
          position="-0.15 -0.1 -0.05"
          class="clickable"
        >
          <a-text
            value="chatbutton"
            align="center"
            color="black"
            position="0 -0.025 0.01"
            width="0.5"
          ></a-text>
        </a-entity>
        <a-entity
          id="button2"
          geometry="primitive: circle; radius: 0.05"
          material="color: white"
          position="0 -0.1 -0.05"
          class="clickable"
        >
          <a-text
            value="game"
            align="center"
            color="black"
            position="0 -0.025 0.01"
            width="0.5"
          ></a-text
        ></a-entity>
        <a-entity
          id="button3"
          geometry="primitive: circle; radius: 0.05"
          material="color: white"
          position="0.15 -0.1 -0.05"
          class="clickable"
        >
          <a-text
            value="misc"
            align="center"
            color="black"
            position="0 -0.025 0.01"
            width="0.5"
          ></a-text
        ></a-entity>
        <a-entity
          id="Cameralock"
          geometry="primitive: circle; radius: 0.05"
          material="color: white"
          position="0.3 -0.1 -0.05"
          class="clickable"
        >
          <a-text
            value="Camera"
            align="center"
            color="black"
            position="0 -0.025 0.01"
            width="0.5"
          ></a-text
        ></a-entity>
        <a-entity
          id="profile"
          geometry="primitive: plane; width: 0.3; height: 0.3"
          material="color: blue; shading: flat"
          position="0 0.15 -0.1"
        >
        </a-entity>
        <a-entity
          id="chat"
          geometry="primitive: plane; width:0.4; height: 0.4"
          material="color:white"
          position="0 0.15 0"
          ><a-entity
            id="chatHeader"
            geometry="primitive: plane; width:0.4; height: 0.05"
            material="color:yellow"
            position="0 0.25 0.01"
          ></a-entity
        ></a-entity>
      </a-entity>
    </a-scene>
    <script src="{% static 'main/js/main.js' %}"></script>
  </body>
</html>
