{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- UTF-8 인코딩 설정 -->
    <script src="https://aframe.io/releases/1.4.2/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/c-frame/aframe-extras@7.0.0/dist/aframe-extras.min.js"></script>
    <script src="https://unpkg.com/aframe-physics-extras@0.1.2/dist/aframe-physics-extras.min.js"></script>
    <script src="{% static 'tools/aframe-hand-tracking-controls-extras.js' %}"></script>
    <script src="{% static 'tools/hand-tracking-controls-extras-components.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lobby/css/AR.css' %}" />
  </head>
  <body>
    <div
      id="loadingScreen"
      style="
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div class="loader"></div>
    </div>
    <a-scene physics="debug: true" light="defaultLightsEnabled:false">
      <a-light type="ambient" color="#888"></a-light>
      <a-light
        type="directional"
        color="#FFF"
        intensity="1"
        position="2 4 -3"
      ></a-light>
      <a-entity
        id="leftHand"
        hand-tracking-controls="hand: left;"
        hand-tracking-extras
        ><a-entity
          finger-cursor
          raycaster="objects: .clickable; far: 1"
        ></a-entity
      ></a-entity>
      <a-entity
        id="rightHand"
        hand-tracking-controls="hand: right;"
        hand-tracking-extras
      >
        <a-entity
          finger-cursor
          raycaster="objects: .clickable; far: 1"
        ></a-entity>
      </a-entity>
      <a-camera id="camera"
        ><a-entity id="hideUIButton" position="-0.15 -0.3 -0.4" visible="false">
          <a-cylinder
            geometry="radius: 0.03; height: 0.01; segmentsRadial: 32"
            material="color: green"
            rotation="90 0 0"
            class="clickable"
          ></a-cylinder>
        </a-entity>
        <a-entity
          id="ui"
          geometry="primitive: plane; width: 0.4; height: 0.55"
          material="opacity: 0.5; transparent: true; color: white"
          position="0 0 -0.5"
          visible="false"
        >
          <a-entity
            id="profile"
            geometry="primitive: plane; width: 0.25; height: 0.25"
            material="color: blue; opacity: 0.5"
            position="0 0.13 0.01"
          ></a-entity>
          <a-entity
            id="friend"
            geometry="primitive: plane; width:0.4; height: 0.4"
            material="color:green"
            position="0 0.1 -0.01"
            visible="false"
          >
            <a-entity
              id="friendHeader"
              geometry="primitive: plane; width:0.35; height: 0.03"
              material="color:yellow"
              position="0 0.175 0.1"
            ></a-entity>
            <a-entity
              id="friendsContainer"
              position="0 -0.025 0"
              width="0.4"
              height="0.35"
            >
            </a-entity>
          </a-entity>
          <a-entity id="uibuttons">
            <a-entity
              id="chatbutton"
              geometry="primitive: circle; radius: 0.05"
              material="color: white"
              position="-0.1 -0.1 0.05"
              class="clickable"
            >
              <a-text
                value="chatbutton"
                align="center"
                color="black"
                position="0 -0.025 0.01"
                width="0.5"
              ></a-text>
            </a-entity>
            <a-entity
              id="button2"
              geometry="primitive: circle; radius: 0.05"
              material="color: white"
              position="0 -0.1 0.05"
              class="clickable"
            >
              <a-text
                value="game"
                align="center"
                color="black"
                position="0 -0.025 0.01"
                width="0.5"
              ></a-text>
            </a-entity>
            <a-entity
              id="button3"
              geometry="primitive: circle; radius: 0.05"
              material="color: white"
              position="0.1 -0.1 0.05"
              class="clickable"
            >
              <a-text
                value="misc"
                align="center"
                color="black"
                position="0 -0.025 0.01"
                width="0.5"
              ></a-text>
            </a-entity>
          </a-entity>
        </a-entity>
        <!-- Left Control Buttons -->
        <a-entity position="0.05 -0.3 -0.4" id="xypad" visible="false">
          <a-box
            position="0 0.06 0"
            width="0.06"
            height="0.06"
            depth="0.02"
            color="blue"
            class="clickable"
            id="up"
          ></a-box>
          <a-box
            position="0 -0.06 0"
            width="0.06"
            height="0.06"
            depth="0.02"
            color="blue"
            class="clickable"
            id="down"
          ></a-box>
          <a-box
            position="-0.06 0 0"
            width="0.06"
            height="0.06"
            depth="0.02"
            color="blue"
            class="clickable"
            id="left"
          ></a-box>
          <a-box
            position="0.06 0 0"
            width="0.06"
            height="0.06"
            depth="0.02"
            color="blue"
            class="clickable"
            id="right"
          ></a-box>
        </a-entity>
        <a-entity position="0.2 -0.2 -0.4" id="zpad" visible="false">
          <a-cylinder
            position="0 -0.1 0"
            radius="0.02"
            height="0.02"
            color="red"
            rotation="90 0 0"
            class="clickable"
            id="forward"
          ></a-cylinder>
          <a-cylinder
            position="0 -0.15 0"
            radius="0.02"
            height="0.02"
            color="red"
            rotation="90 0 0"
            class="clickable"
            id="backward"
          ></a-cylinder>
        </a-entity>
      </a-camera>
    </a-scene>
    <script src="{% static 'lobby/js/AR.js' %}"></script>
  </body>
</html>
