<div id="back-to-lobby-button-container">
  <button id="back-to-lobby-button">Back to Lobby</button>
</div>

<div id="subscription-list">
  <h2>Subscriptions:</h2>
  <ul>
    {% for service in subscribed_services %}
      <li>{{ service.name }}</li>
    {% endfor %}
  </ul>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const username = "{{ user.username }}";  
    const backToLobbyButton = document.getElementById('back-to-lobby-button');

    backToLobbyButton.addEventListener('click', function() {
      window.location.href = `/lobby/${username}`; 
    });
  });
</script>
